doctype html
html
  head
   script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
   script(src='/js/login.angular.js')
   link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css')
   link(href='https://fonts.googleapis.com/css?family=Ubuntu:300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css') 
   link(rel='stylesheet', href='/stylesheets/login.css')
   title SBT Dashboard
  body
    h1 Welcome to SBT Dashboard
    div#container(ng-app='login', ng-controller='logincontroller')
      form()
        label(for='username') Username: 
        input#username(type='text', ng-model='user', ng-bind='user')
        label(for='password') Password:
        input#password(type='password', ng-model='pass')
        div#lower
          input(type='checkbox')
          label(for='checkbox') Keep me logged in
          input(ng-click="submit();", value='login',type='submit')


